@media screen and (min-width: 700px) and (max-width : 1200px) {
  .hello h1 {
    font-size: 3rem;
  }

  .hello::after {
    background-color: rgba(0, 0, 0, 0.386);
  }

  /* pop-btn */

  .pop-menu.pop_on {
    top: 0%;
  }

  .pop-menu.pop_on .pop-btn {
    padding: 25px;
    top: 0%;
    border-radius: 0;
  }

  .pop-menu {
    background-color: #050505eb;
    border-radius: 7px 0 0 0px;
  }

  .pop-menu ul li:hover {
    border-left: 1px solid transparent;
  }



  /* about */
  .about .about-left-text {
    padding: 5%;
  }

  .about .about-left-text h4 {
    font-size: 1em;
  }

  .about .about-right-ul li p.about-downText {
    font-weight: 300;
  }

  .about .about-right-ul li p.about-downText span a {
    padding: 3% 0;
  }
}

@media screen and (min-width: 740px) and (max-width : 1120px) {
  h1 {
    font-size: 3em;
  }

  .hello::after {
    background-color: rgba(0, 0, 0, 0.386);
  }

  /* items */
  .items ul li .items-link .items-info span {
    font-size: 0.9em;
    font-weight: 300;
  }

  /* Thankyou */
  .Thankyou-top-text {
    width: 85%;
  }
}

@media screen and (max-width : 739px) {
  h1 {
    font-size: 3em;
    padding-right: 9%;
  }

  .hello {
    overflow: hidden;
  }

  .hello h1 {
    font-size: 2em;
  }

  .top-cube img {
    top: 30%;
    right: 10%;
    /* left: 50%; */
    transform: translateY(-50%);

  }


  /* pop-btn */
  .pop-btn {
    /* background-color: #050505eb; */
    margin-left: -35%;
    /* border-radius: 7px 0 0 2px; */
    border: 1px solid rgba(248, 245, 245, 0.894);
  }

  .pop-menu.pop_on {
    top: 0%;
  }

  .pop-menu.pop_on .pop-btn {
    padding: 25px;
    top: 0%;
    border-radius: 0;
    border-left: 1px solid rgba(248, 245, 245, 0.894);

  }

  .pop-menu {
    background-color: #050505eb;
    border-radius: 7px 0 0 0px;
  }

  .pop-menu ul li:hover {
    border-left: 1px solid transparent;
  }




  /* about */
  .about {
    flex-direction: column;
    overflow: hidden;
  }

  .about .about-left-text {
    padding: 2% 3%;
    width: 100%;
    height: 240px;
    position: relative;
  }

  .about .about-left-text h4 {
    font-size: 0.9em;
  }

  .about .about-right-ul {
    width: 100%;
  }
  .about .about-right-ul li p.about-downText {
    font-weight: 300;
    font-size: 0.9em;
  }

  .about .about-right-ul li p.about-downText span a {
    padding: 3% 0;
  }

  /* items */
  .items {
    padding-top: 50px;
  }

  .items ul li {
    flex-direction: column;
  }

  .items ul li .items-link {
    width: 100%;
    padding: 5%;
  }

  .items .items-right-photo {
    width: 100%;
  }

  .items-info p {
    font-size: 0.9em;
    padding: 12px 0;
  }

  .items-info p span {
    font-size: 0.9em;
    padding-top: 5px;
  }

  /* Thankyou */
  .Thankyou-top-text {
    width: 85%;
  }

  .Thankyou-top-text p,
  .Thankyou-top-text h2 {
    font-size: 1.1em;
  }

  footer p {
    font-weight: 200;
    font-size: 0.7em !important;
    padding: 5%;
  }
}