@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  color: #FEFEFE;

  font-family: "Roboto Mono", monospace;
}
body.loading {
  overflow: hidden; /* 로딩 중 스크롤 비활성화 */
}

html {
  scroll-behavior: smooth;
  background-color: #050505;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5em;
  margin-bottom: 20px;
  font-weight: 400;
  /* padding: 0 2%; */

  transition: all 0.3s;
}




#loading-text {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

/* 전체 화면을 채운 배경을 가진 컨테이너 */
#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 20, 20, 0.743); /* 배경을 살짝 반투명하게 */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------- */

.pages {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--back);
}

.pop-btn {
  cursor: pointer;
  padding: 10px;
  margin-left: -55%;
  transition: all 0.3s;
  border-left: 1px solid rgba(248, 245, 245, 0.894);
  border-bottom: 1px solid rgba(248, 245, 245, 0.894);
  opacity: 0;

  background-color: #05050574;
  border-radius: 2px;
}


.pop-btn:hover {
  background-color: #050505db;
  border: 1px solid rgba(248, 245, 245, 0.894);
}


.pop-menu {
  height: 100%;
  position: fixed;
  right: -300px;
  top: 25%;
  z-index: 5;
}

.pop-menu ul {
  opacity: 1;
  transition: all 0.3s;
}

.pop-menu.pop_on {
  right: -10px;
  padding: 0 5px;
}

.pop-menu.pop_on ul {
  right: 0;
  opacity: 1;
}

.pop-menu.pop_on .pop-btn {
  margin-left: -5px;
  background-color: #050505b7;
  border: 1px solid rgba(248, 245, 245, 0.894);
}

.pop-menu ul li a {
  display: inline-block;
  width: 100%;
}

.pop-menu ul li {
  cursor: pointer;
  font-size: 2em;
  transition: all 0.2s;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.pop-menu ul li:hover {
  border-left: 1px solid rgba(248, 245, 245, 0.894);
  border-bottom: 1px solid rgba(248, 245, 245, 0.894);
  transform: translateX(-5px);
  /* box-shadow: 5px 5px 18px rgba(156, 152, 152, 0.408); */
  background-color: #050505a5;
}

/* section */
.top-cube img {
  position: fixed;
  top: 20%;
  right: 10%;
  animation: cubeRotate 10s infinite ease-in-out;
  z-index: -5;
}

@keyframes cubeRotate {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(-0deg) translateY(-20px);
  }

  100% {
    transform: rotate(-10deg);
  }
}

/* hello */
.hello {
  position: relative;
  z-index: -1;
  background-color: transparent;
}

.hello::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  transition: all 0.3s;
}

.hello-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10%;
  z-index: 2;
}

/* title animation------------------- */
:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --back: #050505;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {

  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.hello h1 {
  font-size: 5.5em;
  font-weight: 400;
  padding: 5%;
  padding-top: 0;
  transition: all 0.3s;
}

.hello h1>.magic {
  display: inline-block;
  position: relative;
}

.hello h1>.magic>.magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.hello h1>.magic>.magic-star>svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.hello h1>.magic>.magic-star>svg>path {
  fill: var(--violet);
}

.hello h1>.magic>.magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}


/* about------------- */
.about {
  position: relative;
  display: flex;
  height: 100% !important;
  transition: all 0.3s;
}

.about .about-left-text {
  padding: 5% 7%;
  height: 295px;
  width: 30%;
  /* background-color: rgba(226, 147, 44, 0.312); */
  position: sticky;
  top: 0;
  left: 0;
}

.about .about-left-text h1 {
  margin-bottom: 20px;
  transition: all 0.3s;
}

.about .about-left-text h4 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 8px;
  padding: 0 0.5em;
  transition: all 0.3s;
}

.about .about-left-text p {
  padding: 0.2em 0.5em;
}

.about .about-left-text h4 span {
  font-size: 0.7em;
  font-weight: 200;
  font-style: italic;
}

/* about-right-ul */
.about .about-right-ul {
  width: 50%;
  padding: 3% 5%;
}

.about .about-right-ul li {
  box-sizing: border-box;
  padding: 2% 4%;
  width: 90%;
  border-bottom: 1px solid var(--pink);
  transition: all 0.3s;
}

.about .about-right-ul li.about_line {
  border-bottom: 1px solid transparent;
}

.about .about-right-ul li:hover {
  box-shadow: 10px 10px 10px var(--pink);
  border-bottom: 1px solid transparent;
  margin-left: -3px;
  transform: translateX(-3px);
}
.about .about-right-ul li:hover p span.about-icons {
  color: var(--pink);
}

.about .about-right-ul li p {
  padding: 2% 0;
}
.about .about-right-ul li p:nth-child(1) {
  cursor: pointer;
  margin: 3% 0;
}
.about .about-right-ul li p:nth-child(1) span:nth-child(2) {
  padding-left: 5%;
}

.about .about-right-ul li p:nth-child(2) {
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
}

.about .about-right-ul li.about_on p:nth-child(2) {
  opacity: 1;
  width: 100%;
  height: auto;
  margin-bottom: 5%;

}

.about .about-right-ul li p span {
  transition: all 0.3s;
}



.about .about-right-ul li p.about-downText span a {
  display: inline-block;
  padding: 1% 0;
  width: 100%;
}

.about .about-right-ul li p.about-downText span a:hover>span {
  color: var(--pink);
}


/* items */
.items {
  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s;
}

.items-wrapper {
  /* width: 600%; */
  display: flex;
  transition: transform 0.3s ease;
}

.items-wrapper li {
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
}


/* items-link */
.items ul li .items-link {
  width: 30%;
  padding: 5% 7%;
}

.items ul li .items-link p {
  padding: 0.5em;
}

.items ul li .items-link p a {
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
}

.items ul li .items-link p a:hover {
  margin-left: 10px;
  width: 100%;
}

.items ul li .items-link .items-info {
  width: 100%;
  padding-bottom: 5%;
  display: grid;
  flex-direction: column;
  /* gap: 0.9em; */
}

.items ul li .items-link .items-info span {
  display: inline-block;
  transition: all 0.3s;
}


/* items-right-photo */
.items-right-photo {
  width: 70%;
  height: 100%;
  padding: 2% 0;
  box-sizing: border-box;
}

.items-right-photo p {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  /* padding: 2% 5%; */
  margin: auto;
  border-radius: 5px;
}

.items-right-photo p img {
  width: 100%;
}

.photo_on>p>img {
  animation: photoUp 13s ease;
}

@keyframes photoUp {
  to {
    transform: translateY(-71%);
  }
}

/* Thankyou */
.Thankyou {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #050505;
  z-index: -1;
  overflow: hidden;
}

.Thankyou-top-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.Thankyou-top-text h2 {
  margin-bottom: 20px;
  font-weight: 300;
  transition: all 0.3s;
}

.Thankyou p {
  padding: 1% 0;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 130%;
  transition: all 0.3s;
}

/* random cube------------ */
.random-images-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.random-image {
  filter: blur(2px);
  width: 100px;
  height: 100px;
  object-fit: cover;
  animation: moveUp 25s infinite;
  opacity: 0;
}

@keyframes moveUp {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh) rotate(5deg);
    opacity: 0;
  }
}


/* footer */
footer {
  padding: 5%;
  text-align: center;
  background-color: #050505;
  user-select: none;
}